{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Cadastra Disciplina
{% endblock %}

{% block content %}
<div class="corcadastro body">
    {% include 'navbar.html' %}
    <div class="container p-5" style="align-items: center; justify-content: center; justify-items: center; text-justify: center;">
        

        <form action="" method="POST" class="cadastro_form">
            {% csrf_token %}
            {{form|crispy}}
          
            <input type="submit">
        </form>
    </div>
</div>

<style>
    h1 {
        color: white;
        text-align: center;
        margin: 10px;
    }
</style>
{% include 'footer.html' %}
{% endblock %}