{% load crispy_forms_tags %}

{{form_pos_doutorado.concluido|as_crispy_field}}
<div class="row">
    <div class="col-6">
        {{form_pos_doutorado.ano_inicio|as_crispy_field}}
    </div>
    <div class="col-6">
        {{form_pos_doutorado.ano_fim|as_crispy_field}}
    </div>
</div>
<div class="row">
    <div class="col-6">
        {{form_pos_doutorado.instituicao_posdoc|as_crispy_field}}
    </div>
    <div class="col-6">
        {{form_pos_doutorado.pais|as_crispy_field}}
    </div>
</div>