{% load crispy_forms_tags %}

<div class="row">
    <div class="col-6">
        {{form_graduacao.graduacao_area|as_crispy_field}}
    </div>
    <div class="col-6">
        {{form_graduacao.instituicao|as_crispy_field}}
    </div>
    <div class="col-6">        
        {{form_graduacao.local|as_crispy_field}}
    </div>
</div>
<div class="row">
    
    <div class="col-3">  
        {{form_graduacao.graduacao_ano_inicio|as_crispy_field}}
    </div>
    <div class="col-3">  
        {{form_graduacao.graduacao_ano_fim|as_crispy_field}}
    </div>
</div>

<div class="row">
    
    <div class="col-10">  
        {{form_graduacao.bolsa_graduacao|as_crispy_field}}
    </div>
    <div class="col-10">  
        {{form_graduacao.iniciacao_cientifica|as_crispy_field}}
    </div>
    <div class="col-8">  
        {{form_graduacao.agencia|as_crispy_field}}
    </div>
</div>


