{% load crispy_forms_tags %}

<div class="row">
    <div class="col-3">
        {{form_endereco.cep|as_crispy_field}}
    </div>
    <div class="col-6">
        {{form_endereco.endereco|as_crispy_field}}
    </div>
    <div class="col-2">        
        {{form_endereco.numero|as_crispy_field}}
    </div>
    <div class="col-6">        
        {{form_endereco.complemento|as_crispy_field}}
    </div>
    <div class="col-6">        
        {{form_endereco.bairro|as_crispy_field}}
    </div>
    <div class="col-6">        
        {{form_endereco.municipio|as_crispy_field}}
    </div>
    <div class="col-2">
        {{form_endereco.uf|as_crispy_field}}
    </div>
    <div class="col-4">
        {{form_endereco.pais|as_crispy_field}}
    </div>
</div>
<div class="row">
    
    <div class="col-3">  
        {{form_endereco.telefone1|as_crispy_field}}
    </div>
    <div class="col-3">  
        {{form_endereco.telefone2|as_crispy_field}}
    </div>
</div>

