{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
{{pagina}}
{% endblock %}

{% block content %}

    {% include 'navbar.html' %}
    <div class="body container px-5">
        {% include 'msg/message.html' %}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home'%}">Home</a></li>
              <li class="breadcrumb-item"><a href="{% url 'matricula:lista_matricula' %}">Pesquisar Matricula</a></li>
              <li class="breadcrumb-item"><a href="{% url 'matricula:detalhe_matricula' matricula.slug %}">Matricula: {{matricula.probatorio}}</a></li>
              <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'matricula:detalhe_trabalho_final' matricula.slug %}">{{trabalho_final}}</a></li>
            </ol>
          </nav>
        {% comment %} <h1 class='text-center'>{{pagina}}</h1> {% endcomment %}
    
        <div class='text-center my-3 row gap-4' style="padding:0% 20%;">
            <div class="">
                <div class="">
                    <h5>Titulo</h5>
                </div>
                <div>
                    <p style="font-size:20pt;">
                    {{trabalho_final}}
                    </p>

                </div>
            </div>

            <div>
                <div>
                    <h5>Resumo</h5>
                </div>
                <div class="">
                    <p class="text-center" style="text-align: justify;">
                    {{trabalho_final.resumo}}
                    </p>
                </div>
            </div>

        
            <div>
                <div>
                    <h5>Orientadores</h5>
                </div>
                <div>
                    {% if trabalho_final.orientacao_trabalho_final is None %}
                        <span><i>Não há orientadores cadastrados</i></span>
                        
                    {% elif trabalho_final.orientacao_trabalho_final is not None %}
                    <div class="row my-2">
                        {% for t in trabalho_final.orientacao_trabalho_final.all %}
                        <div class="row orientador-edit">
                            <div class="col-8">
                                <span>
                                    {{t.professor}} ({{t.tipo}})
                                </span>
                            </div>
                            <div class="col-2 orientador-close">
                                <a href="{% url "matricula:deleta_orientador" trabalho_final.id t.id %}"><i class="fa-solid fa-xmark"></i></a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %} 
                    <a class="btn btn-outline-primary" href="{% url 'matricula:cadastra_orientacao' matricula.slug trabalho_final.slug %}">Adicionar Orientador</a>
                </div>
            </div>

            <div>
                <div>
                    <h5>Linha de Pesquisa</h5>
                </div>
                <div>
                    <p>
                    {{matricula.linha_pesquisa}}
                    </p>
                </div>
            </div>

        {% if trabalho_final.nota is not None %}

            <div>
                <div>
                    <h5>Nota</h5>
                </div>
                <div>
                    <p>
                    {{trabalho_final.nota.nota}}
                    </p>
                </div>
            </div>

        {% endif %}

        {% if trabalho_final.versao_final is not None %}

            <div>
                <div>
                    <h5>Versão Final</h5>
                </div>
                <div>
                    <p>
                    {{trabalho_final.versao_final}}
                    </p>
                </div>
            </div>

        {% endif %}
    </div>

    
    <div class="row m-lg-5 gap-3 container">        

        {% if trabalho_final.nota is None %}
            <div class="col-5 border p-3">
                <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col d-flex justify-content-center">
                            {{form_nota.nota|as_crispy_field}}
                        </div>
                    </div>
                    <div class="d-flex justify-content-center my-2">
                        <button class="btn btn-outline-primary" type="submit" name="nota_sub">Enviar</button>
                    </div>
                </form>
            </div>
        
        {% endif %}
        {% if trabalho_final.versao_final is None %}
            <div class="col-5 border p-3 align-content-center">
                <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col d-flex justify-content-center">
                            {{form_versao.versao_final|as_crispy_field}}
                        </div>
                    </div>
                    <div class="d-flex justify-content-center my-2">
                        <button class="btn btn-outline-primary" type="submit" name="versao_sub">Enviar</button>
                    </div>
                </form>
            </div>        
        {% endif %}
    </div>
    
</div>

{% include 'footer.html' %}
{% endblock %}