{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Detalhes Probatório
{% endblock %}

{% block content %}

    {% include 'navbar.html' %}
    <div class="body container px-5">
        {% include 'msg/message.html' %}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home'%}">Home</a></li>
              <li class="breadcrumb-item"><a href="{% url 'matricula:lista_probatorio' %}">Pesquisar Probatório</a></li>
              <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'matricula:detalhe_probatorio' probatorio.slug %}">Probatório: {{probatorio.aluno}}</a></li>
            </ol>
          </nav>
        <h1 class='text-center'>Probatório</h1>
        {% if probatorio.aluno.status.status.status_options != 'Desistência' %}
            {% if data_final_remanescente <= 0 %} 
                <span class="text-danger">O aluno já atingiu a data limite de probatório há <b>{{ data_final_remanescente }} dias</b>!({{probatorio.data_limite}})</span>
                <a href="{% url "matricula:prorroga_probatorio" probatorio.slug %}" class="btn btn-danger">Prorrogar</a>
            {% elif data_final_remanescente > 0  %}
                <span class="text-success">Restam <b>{{ data_final_remanescente }} dias</b> para a data limite do probatório!({{probatorio.data_limite}})</span>
            {% endif %}
        {% endif %}

        {% if probatorio.nota%}
        <div class="d-flex justify-content-center nota-probatorio">
            <div class="card p-4  border-1 rounded-1 mx-2">
                <span>Nota</span>
                <span>{{probatorio.nota.nota}}</span>                    
            </div>
            <a href="" data-toggle="modal" data-target="#id_edita_nota_probatorio"><i class="fa-solid fa-pen-to-square"></i></a>
        </div>
        
        {% endif %}

        <div class='text-center my-4'>
            <span class="badge badge-secondary" style="background-color: {{probatorio.aluno.status.status.cor}}">{{probatorio.aluno.status}}</span>
            <span class="d-flex my-2 justify-content-center">{{probatorio.data_inscricao}}</span>            
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>{{probatorio.aluno}}</h2>
            </div>
            <div class="col-md-6">
                <h2>{{probatorio.grau}}</h2>
            </div>
          </div>
    
    
    <div class="card mb-3 border-0 rounded-0" style="background-color: #efefefe7 ;">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    CPF: {{probatorio.aluno.cpf}}
                </div>
                <div class="col-6">
                    Curso: {{probatorio.grau}}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    Data de Nascimento: {{probatorio.aluno.dt_nascimento}}
                </div>
                <div class="col-6 truncate" data-toggle="tooltip" data-placement="right" title="{{probatorio.linha_pesquisa}}">
                    Linha de Pesquisa: <b>{{probatorio.linha_pesquisa}}</b>
                </div>

            </div>
            <div class="row">
                <div class="col-6">
                    Município: {{probatorio.aluno.endereco.municipio}}
                </div>
                <div class="col-6">
                    Semestre/Ano de início: {% if probatorio.data_inscricao.month < 6 %}1º/{{probatorio.data_inscricao.year}}{% else %}2º/{{probatorio.data_inscricao.year}}{% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    UF: {{probatorio.aluno.endereco.uf}}
                </div>
                {% if probatorio.aluno.status.status.status_options != 'Desistência' %}
                <div class="col-6 truncate" {% if trabalho_final is not None %} data-toggle="tooltip" data-placement="right" title="{{trabalho_final}}" {% endif %}>
                    Título do Projeto: {% if trabalho_final == None %}<a href="{% url 'matricula:cadastra_trabalho_probatorio' probatorio.slug %}" style="color:dodgerblue;">Adicionar Projeto  <i class='fas fa-exclamation-circle' style='font-size:24px;color:red'></i></a>{% else %}<a class='link-projeto' href="{% url 'matricula:detalhe_trabalho_final_probatorio' probatorio.slug %}"><b>{{ trabalho_final }}</b><a>{% endif %}
                </div>
                {% else %}
                <div class="col-6 truncate" {% if trabalho_final is not None %} data-toggle="tooltip" data-placement="right" title="{{trabalho_final}}" {% endif %}>
                    Título do Projeto: {% if trabalho_final == None %}<span class="text-danger">Não informado <span>{% else %}<a class='link-projeto' href="{% url 'matricula:detalhe_trabalho_final_probatorio' probatorio.slug %}"><b>{{ trabalho_final }}</b><a>{% endif %}
                </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-6">
                    Titulação: {{probatorio.aluno.titulacao.titulacao}}
                </div>
                <div class="col-6">
                    Orientador: {% if trabalho_final == None %}<span class="text-danger">Não informado</span>{% else %}<b>{{ trabalho_final.orientador }}</b>{% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    Nota de Seleção: {{probatorio.nota_selecao}}
                </div>
                <div class="col-6">

                </div>
            </div>

        </div>
      </div>

      {% if probatorio.aluno.status.status.status_options != 'Desistência' %}
      <div class="row my-3 gap-2">
        <a class="btn btn-success col" href="{% url 'matricula:cadastra_inscricao_probatorio' probatorio.slug %}">Adicionar Disciplina</a>
        <a class="btn btn-success col" data-toggle="modal" data-target="#id_nota_exame">Exame de Línguas</a>
        {% if not probatorio.nota %}
        <a class="btn btn-success col" data-toggle="modal" data-target="#id_nota_probatorio">Nota</a>
        {% endif %}
        </div>
        {% endif %}
    
        <!-- Cadastra nota do probatório -->
    <div id="id_nota_probatorio" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
                <div class="container">
                    <h5 class="modal-title">Nota do Probatório</h5>
                    <span id="data-modal"><i></i></span>
                </div>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form action="" method="POST" class="cadastro_form">
            {% csrf_token %}
                <div class="modal-body ">
                    <div class="text-center">
                        <p>Informe a nota final do probatório:</p>
                        </div>
                    <div class="d-flex justify-content-center">                        
                    <div class="col-2">
                    {{form_nota|crispy}}
                    </div>
                </div>
                </div>
                <div class="modal-footer">
                <button type="submit" name="btn_nota_probatorio" class="btn btn-primary">Salvar</button>
                </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Edita nota do probatório -->
      <div id="id_edita_nota_probatorio" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-md" role="document">
          <div class="modal-content">
            <div class="modal-header">
                <div class="container">
                    <h5 class="modal-title">Edita Nota do Probatório</h5>
                    <span id="data-modal"><i></i></span>
                </div>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form action="" method="POST" class="cadastro_form">
            {% csrf_token %}
                <div class="modal-body ">
                    <div class="text-center">
                        <p>Informe a nota final do probatório:</p>
                        </div>
                    <div class="d-flex justify-content-center">                        
                    <div class="col-2">
                    {{form_edita_nota|crispy}}
                    </div>
                </div>
                </div>
                <div class="modal-footer">
                <button type="submit" name="btn_edita_nota_probatorio" class="btn btn-primary">Salvar</button>
                </div>
            </form>
          </div>
        </div>
      </div>




    <div id="id_nota_exame" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
                <div class="container">
                    <h5 class="modal-title">Exame de Linguas</h5>
                    <span id="data-modal"><i></i></span>
                </div>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form action="" method="POST" class="cadastro_form">
            {% csrf_token %}
                <div class="modal-body ">
                    {{form_exame|crispy}}
                </div>
                <div class="modal-footer">
                <button type="submit" name="btn_nota_exame" class="btn btn-primary">Salvar</button>
                </div>
            </form>
          </div>
        </div>
      </div>

      {% if probatorio.probatorio_exame_linguas.all %}
      <div class="secao-disciplina mx-2 my-5">
      {% for ex in probatorio.probatorio_exame_linguas.all %}
      
        {% if forloop.counter == 1 %}
        <p><b><u>Exame de Línguas</u></b></p>
      {% endif %}        
                
                <div class="row pt-2 border-1 rounded-1 mt-1 text-white" style="background-color: #224EAC ;">
                    <div class="col">
                        <p><b>Exame:</b> {{ex.lingua}}</p>
                    </div>
                    <div class="col">
                        <p><b>Nota:</b> {{ex.nota}}</p>
                    </div>
                    <div class="col">
                        <p><b>Data:</b> {{ex.dt_nota}}</p>
                    </div>

                </div>      

      {% endfor %}
    </div>
    {% endif %}

    <div class="secao-disciplina">
        <h1>Disciplina Cursadas</h1>
        <hr>

        {% if not inscricoes %}
            <p class="text-center"><i>Não há nenhuma disciplina cursada</i></p>
        {% endif %}

        {% for i in inscricoes %}
        <div class="card mb-3 border-0 rounded-0" style="background-color: #efefefe7 ;">
            <div class="card-body">

                <div class="row">
                    <div class="col">
                        <p><b>Código:</b> {{i.disciplina_ofertada.disciplina.codigo}}</p>
                    </div>
                    <div class="col">
                        <p><b>Nome:</b> {{i.disciplina_ofertada.disciplina.nome}}</p>
                    </div>
                    <div class="col">
                        <p><b>Período:</b> {{i.disciplina_ofertada.semestre}}/{{i.disciplina_ofertada.ano}}</p>
                    </div>
                    {% if i.nota %}
                    <div class="col">
                        <p><b>Nota:</b> {{i.nota}}</p>
                    </div>
                    {% endif %}
                    <div class="col">
                        <p><b>Situação:</b> {{i.situacao}}<p>
                    </div>
                    <div class="col-1">
                        <a class="edit-card-disciplina" href="{% url "matricula:edita_inscricao_probatorio" probatorio.id i.id %}">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                    </div>

                </div>

            </div>
        </div>
        {% endfor %}

    </div>
    

    {% if probatorio.aluno.status.status.status_options != 'Desistência' %}

    <div class= 'd-flex my-2 justify-content-end'>
        <div class="row gap-3">


            <div class="col-2 d-flex">
                <a class="btn btn-primary btn-lg" 
                type="submit" 
                onclick="location.href='{% url 'matricula:edita_desistencia' probatorio.id %}'" 
                data-toggle="tooltip" 
                data-placement="right" 
                title="Aluno desistiu do curso">
                    <i class="fa-solid fa-person-walking-arrow-right"></i>
                </a>
            </div>


            <div class="col-2 d-flex">
                <a class="btn btn-primary btn-lg" 
                type="submit" 
                onclick="location.href='{% url 'matricula:cadastra_matricula' %}'" 
                data-toggle="tooltip" 
                data-placement="right" 
                title="Aluno abandonou o curso">
                    <i class="fa-solid fa-door-open"></i>
                </a>
            </div>        


            <div class="col-2 d-flex">
                <a class="btn btn-primary btn-lg" 
                    type="submit" 
                    onclick="location.href='{% url 'matricula:cadastra_matricula' %}'" 
                    data-toggle="tooltip" 
                    data-placement="right" 
                    title="Aluno requisitou cancelamento de estágio probatório">
                    <i class="fa-solid fa-circle-xmark"></i>
                </a>
            </div> 


            
            <div class="col-2 d-flex">
                <a class="btn btn-primary btn-lg" 
                    type="submit" 
                    onclick="location.href='{% url 'matricula:cadastra_matricula' %}'" 
                    data-toggle="tooltip" 
                    data-placement="right" 
                    title="Abrir Matrícula">
                    <i class="fa-solid fa-graduation-cap"></i>
                </a>
            </div>


        </div>
    </div>

    {% endif %}

</div>

{% include 'footer.html' %}
{% endblock %}