{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="">
    {% include 'navbar.html' %}
    <div class="body container">
        <div class="flex w-75 container">
            <section>
                {{matricula.aluno}}
                {{matricula.aluno.cpf}}
                {{matricula.aluno.cidade}}
            </section>
            <section>
                {{matricula.numero}}
            </section>
            <a class="btn btn-success" href="{% url 'disciplina:cadastra_inscricao' %}">Se increver em disciplina</a>
        </div>
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}