{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}

    {% include 'navbar.html' %}
    <div class="body container">

        <div class="row">
            <div class="col-md-6">
                <p>Aluno: {{matricula.probatorio.aluno}}</p>
            </div>
            <div class="col-md-6 col-md-offset-2">
                <p>Matrícula: {{matricula.numero}}</p>
            </div>
          </div>
    
    
    <div class="card mb-3 border-0 rounded-0" style="background-color: #efefefe7 ;">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    CPF: {{matricula.probatorio.aluno.cpf}}
                </div>
                <div class="col-6">
                    Curso:
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    Data de Nascimento: {{matricula.probatorio.aluno.dt_nascimento}}
                </div>
                <div class="col-6">
                    Nota Probatório: {{matricula.probatorio.nota}}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    Município: {{matricula.probatorio.aluno.endereco.municipio}}
                </div>
                <div class="col-6">
                    Semestre/Ano de início:
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    UF: {{matricula.probatorio.aluno.endereco.uf}}
                </div>
                <div class="col-6">
                    Título do Projeto: <a href="" style="color:dodgerblue;">Adicionar Projeto  <i class='fas fa-exclamation-circle' style='font-size:24px;color:red'></i></a>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    Titulação: {{matricula.probatorio.aluno.titulacao.titulacao}}
                </div>
                <div class="col-6">
                    Orientador:
                </div>
            </div>

        </div>
      </div>

      <div class="row my-3 gap-2">
        <a class="btn btn-success col" href="{% url 'disciplina:cadastra_disciplina' %}">Adicionar Disciplinas</a>
        <a class="btn btn-success col" href="{% url 'matricula:cadastra_bolsa' matricula.slug %}">Adicionar Bolsa</a>
        <a class="btn btn-success col" href="{% url 'matricula:cadastra_afastamento' matricula.slug %}">Adicionar Afastamento</a>  
    </div>

    <div class="secao-disciplina">
        <h1>Disciplina</h1>
        <hr>

        <div class="card mb-3 border-0 rounded-0" style="background-color: #efefefe7 ;">
            <div class="card-body">

                <div class="row">
                    <div class="col">
                        <p>Código:</p>
                    </div>
                    <div class="col">
                        <p>Nome:</p>
                    </div>

                </div>

            </div>
        </div>

    </div>
    <div class="secao-bolsa">
        <h1>Bolsa</h1>
        <hr>

        {% for bolsa in bolsas %}
        <div class="card mb-3 border-0 rounded-0" style="background-color: #efefefe7 ;">
        <div class="card-body">

            <div class="row">
                <div class="col">
                    <p><b>Nome:</b> {{ bolsa.nome }}</p> 
                </div>
                <div class="col">
                    <p><b>Agência:</b> {{ bolsa.agencia }}</p>
                </div>
                <div class="col">
                    <p><b>Início da Vigência:</b> {{ bolsa.dt_inicio }}</p>
                </div>
            </div>
        </div>
        </div>
        {% endfor %}
    </div>

    <div class="secao-afastamento">
        <h1>Afastamento</h1>
        <hr>
        {% for afastamento in afastamentos %}
        <div class="card mb-3 border-0 rounded-0" style="background-color: #efefefe7 ;">
        <div class="card-body">

            <div class="row">
                <div class="col">
                    <p><b>Motivo:</b> {{ afastamento.motivo }}</p>
                </div>
                <div class="col">
                    <p><b>Início:</b> {{ afastamento.saida }}</p>
                </div>
                <div class="col">
                    <p><b>Fim:</b> {{ afastamento.retorno }}</p>
                </div>
            </div>
        </div>
        </div>
        {% endfor %}
    </div>

    </div>

{% include 'footer.html' %}
{% endblock %}