{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Detalhes Matrícula
{% endblock %}

{% block content %}

    {% include 'navbar.html' %}
    <div class="body container px-5">
        {% include 'msg/message.html' %}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home'%}">Home</a></li>
              <li class="breadcrumb-item"><a href="{% url 'matricula:lista_matricula' %}">Pesquisar Matricula</a></li>
              <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'matricula:detalhe_matricula' matricula.slug %}">Matricula: {{matricula.probatorio}}</a></li>
            </ol>
        </nav>

        <div class="row my-1">
            <div class="col-3">
                <a class="btn btn-danger" href="{% url 'matricula:render_pdf' matricula=matricula.id %}" ><i class="fa-solid fa-file-pdf"></i> Gerar Histórico</a>
            </div>
            <div class="col-4">
                <a class="btn btn-primary" data-toggle="modal" data-target="#visualiza-colegiado"><i class="fa-solid fa-people-group"></i> Participações Colegiado</a>

                <a class="btn btn-primary" data-toggle="modal" data-target="#adiciona-colegiado"><i class="fa-solid fa-plus"></i></a>
            </div>
        </div>
          
        <h1 class='text-center'>Matrícula</h1>
        <div class='text-center my-4'>
            <span class="badge badge-secondary" style="background-color: {{matricula.probatorio.aluno.status.status.cor}}">{{matricula.probatorio.aluno.status}}</span>
            <span class="d-flex my-2 justify-content-center">{{matricula.dt_matricula}}</span>
        </div>
        <div class="row mt-5 px-5">
            <div class="col-md-6">
                <h4>{{matricula.probatorio.aluno}}</h4>
            </div>
            <div class="col-md-6 align-content-md-end">
                <h4>Nº Matrícula: {{matricula.numero}}</h4>
            </div>
            
          </div>
          
    
    
    <div class="card mb-3 border-0 rounded-1 px-5" style="background-color: #efefefe7 ;">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    CPF: {{matricula.probatorio.aluno.cpf}}
                </div>
                <div class="col-6">
                    Curso: {{matricula.grau}}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    Data de Nascimento: {{matricula.probatorio.aluno.dt_nascimento}}
                </div>
                <div class="col-6">
                    Nota Probatório: {{matricula.probatorio.nota}}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    Município: {{matricula.probatorio.aluno.endereco.municipio}}
                </div>
                <div class="col-6">
                    Semestre/Ano de início: {% if matricula.dt_matricula.month < 6 %}1º/{{matricula.dt_matricula.year}}{% else %}2º/{{matricula.dt_matricula.year}}{% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    UF: {{matricula.probatorio.aluno.endereco.uf}}
                </div>
                <div class="col-6 truncate">
                    Título do Projeto: {% if trabalho_final == None %}<a href="{% url 'matricula:cadastra_trabalho_final' matricula.slug %}" style="color:dodgerblue;">Adicionar Projeto  <i class='fas fa-exclamation-circle' style='font-size:24px;color:red'></i></a>{% else %}<a class='link-projeto' href="{% url 'matricula:detalhe_trabalho_final' matricula.slug %}"><b>{{ trabalho_final }}</b><a>{% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    Titulação: {{matricula.probatorio.aluno.titulacao.titulacao}}
                </div>
                <div class="col-6">
                    Orientador: {% if trabalho_final.orientacao_trabalho_final == None %}<span class="text-danger">Não informado</span>{% else %}
                    <div class="row">
                    {% for t in trabalho_final.orientacao_trabalho_final.all %}
                        <div class="col-3 text-center">
                            <span>
                                {{t.professor}} ({{t.tipo}})
                            </span>
                        </div>
                    {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>

        </div>
      </div>

    <div class="row my-3 gap-2">
        <a class="btn btn-success col" href="{% url 'matricula:cadastra_inscricao' matricula.slug %}">Adicionar Disciplina</a>
        <a class="btn btn-success col" href="{% url 'matricula:cadastra_bolsa' matricula.slug %}">Adicionar Bolsa</a>
        <a class="btn btn-success col" href="{% url 'matricula:cadastra_afastamento' matricula.slug %}">Adicionar Afastamento</a>  
    </div> 

    <div class="secao-disciplina">
        <h1>Disciplina Cursadas</h1>
        <hr>

        {% if not inscricoes %}
            <p class="text-center"><i>Não há nenhuma disciplina cursada</i></p>
        {% endif %}

        {% for i in inscricoes %}
        <div class="card mb-3 border-0 rounded-0" style="background-color: #efefefe7 ;">
            <div class="card-body">

                <div class="row">
                    <div class="col">
                        <p><b>Código:</b> {{i.disciplina_ofertada.disciplina.codigo}}</p>
                    </div>
                    <div class="col">
                        <p><b>Nome:</b> {{i.disciplina_ofertada.disciplina.nome}}</p>
                    </div>
                    <div class="col">
                        <p><b>Período:</b> {{i.disciplina_ofertada.semestre}}/{{i.disciplina_ofertada.ano}}</p>
                    </div>
                    {% if i.nota %}
                    <div class="col">
                        <p><b>Nota:</b> {{i.nota|floatformat:2}}</p>
                    </div>
                    {% endif %}
                    <div class="col">
                        <p><b>Situação:</b> {{i.situacao}}<p>
                    </div>
                    <div class="col-1">
                        <a class="edit-card-disciplina" href="{% url "matricula:edita_inscricao" matricula.id i.id %}">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                    </div>

                </div>

            </div>
        </div>
        {% endfor %}

    </div>
    <div class="secao-bolsa">
        <h1>Bolsa</h1>
        <hr>

        {% if not bolsas %}
            <p class="text-center"><i>Não há nenhuma bolsa adquirida</i></p>
        {% endif %}

        {% for bolsa in bolsas %}
        <div class="card mb-3 border-0 rounded-0" style="background-color: #efefefe7 ;">
        <div class="card-body">

            <div class="row">
                <div class="col">
                    <p><b>Nome:</b> {{ bolsa.nome }}</p> 
                </div>
                <div class="col">
                    <p><b>Agência:</b> {{ bolsa.bolsa_agencia }}</p>
                </div>
                <div class="col">
                    <p><b>Início da Vigência:</b> {{ bolsa.dt_inicio }}</p>
                </div>
            </div>
        </div>
        </div>
        {% endfor %}
    </div>

    <div class="secao-afastamento">
        <h1>Afastamento</h1>
        <hr>
        {% if not afastamentos %}
            <p class="text-center"><i>Não há nenhum afastamento exercido</i></p>
        {% endif %}
        {% for afastamento in afastamentos %}
        <div class="card mb-3 border-0 rounded-0" style="background-color: #efefefe7 ;">
        <div class="card-body">

            <div class="row">
                <div class="col">
                    <p><b>Motivo:</b> {{ afastamento.motivo }}</p>
                </div>
                <div class="col">
                    <p><b>Início:</b> {{ afastamento.saida }}</p>
                </div>
                <div class="col">
                    <p><b>Fim:</b> {{ afastamento.retorno }}</p>
                </div>
            </div>
        </div>
        </div>
        {% endfor %}
    </div>

    </div>



    
<!-- 
  ==================================================================
          Tela Modal - Visualizar participação no  colegiado
  ==================================================================
-->
  
<div id="visualiza-colegiado" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
                <div class="modal-header">
                        <div class="container">
                            <h5 class="modal-title">Adicionar participação no colegiado</h5>
                            <span id="data-modal"><i></i></span>
                        </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            <div class="modal-body">
                <h5>Participações do Colegiado</h5>
                <p class='text-center'></p>
                <div class="d-flex flex-column align-items-center text-center">
                    <div class="mt-3">
                        {% if not colegiados %}
                        <p class="text-secondary mb-0"><i>Nenhuma participação deste aluno</i></p>
                        {% else %}
                            <p>{{membro}}</p>
                            <table class="table">
                                <thead>
                                    <th>Entrada</th>
                                    <th>Saída</th>
                                    <th>Status</th>
                                    <th></th>
                                <thead>
                                <tbody>
                                    {% for c in colegiados %}
                                    <tr>
                                    <td>{{c.colegiado_data_entrada|date:"d/m/Y"}}</td>
                                    <td>{{c.colegiado_data_saida|date:"d/m/Y"}}</td>
                                    <td>{{c.status_membro}}</td>
                                    <td><a href="{% url "matricula:edita_colegiado" c.id%}"><i class="fas fa-edit"></i></a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>

                            </table>
                            
                        {% endif %}
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>

    <div class= 'd-flex my-2 justify-content-end'>
        <div class="row gap-3">
            <div class="col-3 d-flex justify-content-end">
                <a class="btn btn-primary btn-lg" onclick="location.href='{% url 'matricula:detalhe_probatorio' matricula.probatorio.slug %}'" data-toggle="tooltip" data-placement="right" title="Acessar a tela de probatório do aluno"><i class="fa-solid fa-arrow-up-right-dots"></i></a>
            </div>
        </div>
    </div>
</div>

    
<!-- 
  ==================================================================
          Tela Modal - Adicionar participação no colegiado
  ==================================================================
-->
  
<div id="adiciona-colegiado" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
                <div class="modal-header">
                        <div class="container">
                            <h5 class="modal-title">Adicionar participação no colegiado</h5>
                            <span id="data-modal"><i></i></span>
                        </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            <div class="modal-body">
                <h5>Adicionar participação no colegiado</h5>
                <p class='text-center'></p>
                <form method='POST'>
                    {% csrf_token %}
                    {{form_colegiado|crispy}}

                    <div class="modal-footer row">
                        <div class="col-3">
                            <a class="btn btn-danger btn-md"  data-dismiss="modal">Cancelar</a>
                        </div>
                        <div class="col-3">
                            <button class="btn btn-success m-4" type="submit" formnovalidate="formnovalidate">Salvar</button>
                        </div>
                    </div>
                </form>
                
            </div>
            
        </div>
    </div>
</div>


{% include 'footer.html' %}
{% endblock %}