{% extends "base.html" %}

{% load static %}

{% block title %}
Pesquisa Matrícula
{% endblock %}

{% block content %}
  {% include 'navbar.html' %}
  <div class="body container d-flex-inline justify-content-center mb-5">
    <h1 class="text-center">{{ pagina }}</h1>

    <form method='GET' class="m-4" id="form-pesquisa">
      <div class="input-group rounded">
        {% if busca == None %}
        <input type='text' class='form-control' placeholder="Pesquise por número de matrícula ou Nome" value='' name='search' id='search'>
        {% else %}
        <input type='text' class='form-control' placeholder="Pesquise por número de matrícula ou Nome" value='{{busca}}' name='search' id='search'>
        {% endif %}
        <div type="submit" onclick="document.getElementById('form-pesquisa').submit();" style="cursor: pointer">
          <span class="d-flex input-group-text border-0" id="search-addon">
            
          <i class="fas fa-search"></i>
        </span>
      </div>
        </div>
    </form>


    {% if busca %}

    <table class="table"> 
      <thead>
        <tr>
          {% if pagina == 'Pesquisar Matrícula' %}
          <th scope="col">Matrícula</th>
          {% endif %}
          <th scope="col">Nome</th>
          <th scope="col">Email</th>
        </tr>
      </thead>  
      {% for m in matriculas %}
      <a href="">
        <tr onclick="location.href='{% if pagina == 'Pesquisar Matrícula' %}{% url 'matricula:detalhe_matricula' m.slug %}{% elif pagina == 'Pesquisar Probatório' %}{% url 'matricula:detalhe_probatorio' m.slug %}{% endif %}'" style="cursor: pointer">
          {% if pagina == 'Pesquisar Matrícula' %}
            <td>{{m.numero}}</td>
          {% endif %}
            <td>{% if pagina == 'Pesquisar Matrícula' %}{{m.probatorio.aluno.nome}}{% elif pagina == 'Pesquisar Probatório' %}{{m.aluno.nome}}{% endif %}</td>
            <td>{% if pagina == 'Pesquisar Matrícula' %}{{m.probatorio.aluno.email}}{% elif pagina == 'Pesquisar Probatório' %}{{m.aluno.email}}{% endif %}</td>
        </tr>
      </a>

      {% endfor %}
    </table>
    <hr class="my-5">
    {% endif %}

    <div class="row d-flex-inline justify-content-center gap-5 align-items-center my-5">
      <div class="col-4">
        <canvas id="myChart" width="150" height="100"></canvas>
      </div>
      <div class="col-4 card card-home">
            <h5 class="display-5 text-center">{{total}}</h5>
            {% if total > 1 %}
            <p class="display-10 text-center">ALUNOS</p>
            {% else %}
            <p class="display-10 text-center">ALUNO</p>
            {% endif %}
      </div>
      <div class="col-4">
        <canvas id="myChart2" width="150" height="100"></canvas>
      </div>

    
    
    </div>
  </div>


  {% include 'footer.html' %}
  <style>
    [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
    display: flex;
}
  </style>
<script>
  const ctx = document.getElementById('myChart').getContext('2d');
  const myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
          datasets: [{
              label: '# of Votes',
              data: [12, 19, 3, 5, 2, 3],
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });
  </script>

<script>
  const ctx2 = document.getElementById('myChart2').getContext('2d');
  const myChart2 = new Chart(ctx2, {
      type: 'bar',
      data: {
          labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
          datasets: [{
              label: '# of Votes',
              data: [12, 19, 3, 5, 2, 3],
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });
  </script>
{% endblock %}