{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}


{% block content %}
    <section class="">
        <div class="container-fluid login">
          <div class="row">
            <div class="col-sm-6">

              <div class="d-flex justify-content-center align-self-center">
                {% include 'svg/sun-weather-sunny.html'%}
                <span style="font-size: 80pt; font-family: Miguelito; ">SOL</span>
              </div>
      
              <div class="d-flex justify-content-center px-5 ms-xl-4 ">
                <img src="{% static 'img/PPGCM_sem_fundo.png' %}" width="250px" alt="">
                <!-- <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i> -->
              </div>
      
              <div class="d-flex justify-content-center align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
      
                <form style="width: 23rem;" class="login_form" method="POST" action="">
                    {% csrf_token %}
            
                  <!-- <div class="form-outline mb-4">
                    <input type="email" id="form2Example18" class="form-control form-control-lg" />
                    <label class="form-label" for="form2Example18">Email address</label>
                  </div>
      
                  <div class="form-outline mb-4">
                    <input type="password" id="form2Example28" class="form-control form-control-lg" />
                    <label class="form-label" for="form2Example28">Password</label>
                  </div> -->
      
                    {{user_form|crispy}}
                  <div class="pt-1 mb-4 d-flex justify-content-center ">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
                  </div>
                  <div class="pt-1 d-flex justify-content-center ">
                  <p class="small pb-lg-2"><a class="text-muted" href="#!">Forgot password?</a></p>
                </div>
                </form>
      
              </div>
      
            </div>
            <div class="col-sm-6 px-0 d-none d-sm-block">
              <img src="https://www.gov.br/ebserh/pt-br/hospitais-universitarios/regiao-sudeste/huap-uff/comunicacao/noticias/ordem-interna-de-servico-huap/huapjpg"
                alt="Login image" class="w-100 vh-100" style="object-fit: fill; object-position: left;">
            </div>
          </div>
        </div>
      </section>

      <script>
        .bg-image-vertical {
            position: relative;
            overflow: hidden;
            background-repeat: no-repeat;
            background-position: right center;
            background-size: auto 100%;
        }



        @media (min-width: 1025px) {
            .h-custom-2 {
                height: 100%;
            }
        }
      </script>

{% endblock %}