@font-face {
    font-family: Miguelito;
    src: url('/static/fonts/Miguelito.otf') format('opentype');
}

html {height:100%} 
body {
    height: 100%;
}
.body {
    position:relative;
    padding-top: 80pt;
    color: #224EAC;
    min-height: 80%;
}

.login {
    color: #224EAC;
}

nav svg {
    width:25%;
    height: 25%;
}
.card-home, .card-total {
    background-color:#efefefe7;
    padding: 5%;
    align-items: center;
    color: #224EAC;
}

.card-total {
    max-width: 200px;
    max-width: 200px;
}
.card-home:hover {
    color: #efefefe7;
    background-color: #224EAC;
}

.card-home:hover>svg {
    fill: #efefefe7;
}

.navbar {
    /* background: linear-gradient(180deg, #dce7ffe7 0%, #dce7ffe7 50.23%, #ffffffe7 100.00%); */
    background-color: #efefefe7;
}

.nav-item {
    font-size:larger;
    text-transform: capitalize;
}

ul {
    color: #224EAC !important;
}

footer{
    /* background-color: rgba(41, 55, 84, 1); */
    background-color: #224EAC;
}

footer .color-text-footer{
    color: white;
}

footer .footer-copyright{
    color: white;
}


svg {
    fill:#224EAC;
    height: 200px;
    width: 200px;
}

a i.fa-sharp {
    color:#224EAC;
}

.login_form{
    color: black;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: white;
}

#tooltip {
    background: #333;
    color: white;
    font-weight: bold;
    padding: 4px 8px;
    font-size: 13px;
    border-radius: 4px;
}

.dropdown:hover>.dropdown-menu {
    display: block;
    border-radius: 0%;
    width: 400px;
    margin: 0px;
    padding: 0%;
}

.dropdown-item {
    height: 50px;
    align-items: center;
    text-align: center;
}

.dropdown-item:hover {
    background-color: #224EAC;
    color: white; 
}

.nav-item:hover{
    background-image: linear-gradient(30deg, #224EAC, rgb(4, 4, 44)) ;
    flex-direction:column;
    border-radius: 2px;
}

.nav-link {
    color: #224EAC;
}

.nav-link:hover {
    color: white;
    font-weight: bolder;
}

.nav-link.active {
    font-weight: 700;
}

.nav-aluno {
    font-size: 11pt;
}

.btn-primary {
    background-color: #224EAC !important;
    border-style: none !important;
}

h5 {
    text-align: center;
}

button.close {
    border-color: #00000010;
    border-radius: 100%;
    align-items: center;
}

.adicionar-participante-btn {
    color: #224EAC;
}

.adicionar-participante-btn:hover {
    color: white;
    background-color: #224EAC77;
    cursor: pointer;
    border-color: white;
}

#dia-invisivel {
    display: none;
  }

.item-evento {
    border-style: solid;
    border-width: 1px;
    border-color: #00000010;
}

.item-evento:hover {
    background-color: #224EAC77;
    color: white;
    border-width: 1px;
}

.atributo-evento-item {
    border-style: none;
}

.breadcrumb {
    margin-top: -10px;
    border-radius: 5px;
    background-color: #224EAC10;
    height: 25px;
    padding: 0px 30px;
}

.breadcrumb a{
    color: #224EAC;
}

.breadcrumb a:hover{
    font-weight: 1000;
}

.breadcrumb-item.active{
    font-weight: 500;
}

.item-professor:hover {
    background-color: #efefefe7;
}

label.required::after {
    content: '*';
    color: red !important;
}

.img-aluno {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.link-projeto {
    text-decoration: none;
    color: #224EAC;
}

.link-projeto:hover {
    font-weight: bolder;
    color: #224EAC;
}

.truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

#filtra_alunos {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

#filtra_alunos tbody {
    display: table;
}
