.body {
    padding-top: 80pt;
    color: #224EAC;
}

.card {
    /* background-color: rgba(41, 55, 84, 1); */
    /* background-color: #224EAC; */
    background-color:#efefefe7;
    width: 200px;
    height: 200px;
    padding: 5%;
    align-items: center;
    color: #224EAC;

}

.navbar {
    /* background: linear-gradient(180deg, #dce7ffe7 0%, #dce7ffe7 50.23%, #ffffffe7 100.00%); */
    background-color: #efefefe7;
}

.nav-item {
    font-size:medium;
    text-transform: capitalize;

  }

ul {
    text-transform: capitalize;
    color: #224EAC !important;
}

footer{
    /* background-color: rgba(41, 55, 84, 1); */
    background-color: #224EAC;
    color: white !important;
}

svg {
    fill:#224EAC;
    height: 200px;
    width: 200px;
}

.login_form{
    color: black;
}

.cadastro_form {
    color: white;
}

a {
    color: white;
    text-decoration: none;

}

a:hover {
    text-decoration: none;
    color: white;

}

a.text-light {
    color: #224EAC !important;
}

.corcadastro {
   
    background-color: #224EAC66;
   
}

.dropdown:hover>.dropdown-menu {
    display: block;
}