{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Relatórios
{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<div class="body container d-flex-inline justify-content-center mb-5" style="min-height: 700px;">

    <h1 class="text-center">Relatórios</h1>

    <div class="row gap-2 my-5">
        <div class="col-3">
            <button class="btn btn-primary" style="width: 70%;" data-toggle="modal" data-target="#modal-filtro"><i class='fas fa-filter' style='font-size:20px'></i> Filtro</button>
        </div>
        <div class="col-3">
            <button class="btn btn-success" style="width: 70%;" data-toggle="modal" data-target="#modal-filtro"><i class='fa-solid fa-file-csv' style='font-size:20px'></i> Exportar CSV</button>
        </div>
        <hr>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modal-filtro" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Filtro</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form method="GET">
                        {{ filter.form|crispy }}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Filtrar</button>
                        </div>
                        
                    </form>



                </div>                
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link nav-aluno active" data-toggle="tab" href="#id_dashboard"><i>Dashboard</i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-aluno" data-toggle="tab" href="#id_registro">Registros</a>
        </li>
    </ul>

    <div class="py-3 mb-3 tab-content">
        <!-- Aba de Informações pessoais -->
        <div id="id_dashboard" class="tab-pane container active">

            <div class="row text-center">
                <div class="col-12 bg-light rounded-2s">
                    <h3 class="display-5 text-center">{{alunos|length}}</h3>                    
                    <p class="display-10 text-center">ALUNOS</p>                    
                </div>
            </div>

            <div class="row">
                <div class="col-6">

                    <div>
                        <canvas id="barra_genero"></canvas>
                        
                    </div>

                </div>

                <div class="col-6">
                    <div>
                        <canvas id="linha"></canvas>                        
                    </div>
                </div>

                <div class="col-4">

                    <div>
                        <canvas id="pie_estado_civil"></canvas>
                        
                    </div>

                </div>
                <div class="col-8">

                    <div>
                        <canvas id="barra_etnia"></canvas>
                        
                    </div>

                </div>
            </div>   
            

            <div class="row">
                

            </div> 
            <div class="row">
                <div class="col">

                    <div>
                        <canvas id="barra_3" height="100%"></canvas>
                        
                    </div>

                </div>
            </div>
            

        </div>
        <div id="id_registro" class="tab-pane container">


            <div class="col">
                <table id="filtra_alunos" class="table text-center"> 
                    <tr class="bg-light">
                        <th colspan="18" class="border">Informações pessoais</th>
                        <th colspan="4" class="border">Probatório</th>
                        <th colspan="11" class="border">Matrícula</th>
                    <tr>
                      <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">CPF</th>
                        <th scope="col">Sexo</th>
                        <th scope="col">Nome do pai</th>
                        <th scope="col">Nome da mãe</th>
                        <th scope="col">Naturalidade</th>
                        <th scope="col">Nacionalidade</th>
                        <th scope="col">Data de Nascimento</th>
                        <th scope="col">Estado Civil</th>
                        <th scope="col">Identidade</th>
                        <th scope="col">ID-UF</th>
                        <th scope="col">ID-Orgão</th>
                        <th scope="col">Sexo</th>
                        <th scope="col">Email</th>
                        <th scope="col">Etnia</th>
                        <th scope="col">Portador de Deficiência</th>
                        <th scope="col">Deficiência</th>
                        <th scope="col">Status</th>
                        {% comment %} Probatórtio {% endcomment %}
                        <th scope="col" class="border-start">Probatório</th>
                        <th scope="col">Data de Inscrição</th>
                        <th scope="col">Linha de Pesquisa</th>
                        <th scope="col">Grau</th>
                        {% comment %} Matrícula {% endcomment %}
                        <th scope="col" class="border-start">Nº Matrícula</th>
                        <th scope="col">Curso</th>
                        <th scope="col">Requisita Bolsa</th>
                        <th scope="col">Linha de Pesquisa</th>
                        <th scope="col">Grau</th>
                        <th scope="col">Trabalho Final</th>
                        <th scope="col">Orientador</th>
                        <th scope="col">Nota</th>
                        <th scope="col">Versão Final</th>
                        <th scope="col">Data do diploma:</th>
                        <th scope="col">Diploma</th>
                      </tr>
                    {% for a in filter.qs %}                        
                        <a href="">
                        <tr>
                            <td>{{a.nome}}</td>
                            <td>{{a.cpf}}</td>
                            <td>{{a.sexo}}</td>
                            <td>{{a.nome_pai}}</td>
                            <td>{{a.nome_mae}}</td>
                            <td>{{a.naturalidade}}</td>
                            <td>{{a.nacionalidade}}</td>
                            <td>{{a.dt_nascimento|date:"d/M/Y"}}</td>
                            <td>{{a.estado_civil}}</td>
                            <td>{{a.identidade}}</td>
                            <td>{{a.identidade_uf}}</td>
                            <td>{{a.identidade_orgao}}</td>
                            <td>{{a.sexo}}</td>
                            <td>{{a.email}}</td>
                            <td>{{a.etnia}}</td>
                            <td>{{a.portador_deficiencia}}</td>
                            <td>{{a.portador_deficiencia_qual}}</td>
                            <td>{{a.status}}</td>

                            <td class="border-start">{{a.probatorio_aluno.first.probatorio}}</td>
                            <td>{{a.probatorio_aluno.first.data_inscricao}}</td>
                            <td>{{a.probatorio_aluno.first.linha_pesquisa}}</td>
                            <td>{{a.probatorio_aluno.first.grau}}</td>

                            <td class="border-start">{{a.probatorio_aluno.first.matricula_probatorio.first.numero}}</td>
                            <td>{{a.probatorio_aluno.first.matricula_probatorio.first.curso}}</td>
                            <td>{{a.probatorio_aluno.first.matricula_probatorio.first.requisita_bolsa}}</td>
                            <td>{{a.probatorio_aluno.first.matricula_probatorio.first.linha_pesquisa}}</td>
                            <td>{{a.probatorio_aluno.first.matricula_probatorio.first.grau}}</td>
                            <td>{{a.probatorio_aluno.first.matricula_probatorio.first.matricula_trabalho_final.titulo}}</td>
                            <td>{{a.probatorio_aluno.first.matricula_probatorio.first.matricula_trabalho_final.orientador}}</td>
                            <td>{{a.probatorio_aluno.first.matricula_probatorio.first.matricula_trabalho_final.nota}}</td>
                            <td>{{a.probatorio_aluno.first.matricula_probatorio.first.matricula_trabalho_final.versao_final}}</td>
                            <td>{{a.probatorio_aluno.first.matricula_probatorio.first.matricula_trabalho_final.dt_diploma}}</td>
                            <td>{{a.probatorio_aluno.first.matricula_probatorio.first.matricula_trabalho_final.diploma}}</td>
                            
                        </tr>
                        </a>
                    {% endfor %}
                  </table>
                </div>


        </div>

    </div>

</div>

{% include 'footer.html' %}

<script>

    const data_barra_genero = {
        labels: ['Gênero'],
        datasets: [
        {% for sexo in grafico_sexo  %}
        {
            label: '{{sexo.sexo__sexo}}',
            data: [{{sexo.nviews}},],
            backgroundColor: [
                '{{sexo.cor}}'+33,
            ],
            borderColor: [
                '{{sexo.cor}}',
            ],
            borderWidth: 1
        },
        {% endfor %}
        ]
    },

    config_barra_genero = {
        type: 'bar',
        data: data_barra_genero,
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Quantidade'
                    }
                }                
            },
            plugins: {
                title: {
                    display: true,
                    text: 'Sexo'
                }
            }
        }
    }
    const ctx_barra_genero = document.getElementById('barra_genero').getContext('2d');
    const barra_genero = new Chart(ctx_barra_genero, config_barra_genero);


    
    const labels_linha = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun'];
    const data_linha = {
    labels: labels_linha,
        datasets: [{
            label: 'My First Dataset',
            data: [65, 59, 80, 81, 56, 55, 40],
            fill: false,
            borderColor: [
            'rgba(255, 99, 132, 1)',
                ],
            tension: 0.1
            },
            {
                label: 'My Second Dataset',
                data: [65, 99, 30, 51, 76, 25, 80],
                fill: false,
                borderColor: [
                'rgba(54, 162, 235)',
                    ],
                tension: 0.4
            },        
        ]
    };

    const config_linha = {
        type: 'line',
        data: data_linha,
        options: {
            scales: {
                y: {
                    title: {
                        display: true,
                        text: 'Quantidade'
                    }
                }
            },
        }
    };

    const ctx_linha = document.getElementById('linha').getContext('2d');
    const linha = new Chart(ctx_linha, config_linha)



    const data_estado_civil = {
        labels: [
            {% for ec in grafico_estado_civil  %}
            '{{ec.estado_civil__estado_civil}}',
            {% endfor %}
        ],
        datasets: [
        {
            data: [{% for ec in grafico_estado_civil  %}
            '{{ec.nviews}}',
            {% endfor %}
            ],
            fill: false,
            backgroundColor: [
            {% for ec in grafico_estado_civil  %}
                '{{ec.cor}}'+33,
            {% endfor %}
            ],
            borderColor: [
            {% for ec in grafico_estado_civil %}
                '{{ec.cor}}',
            {% endfor  %}
            ],
            tension: 0.1
        },
        ]
    };

    const config_estado_civil = {
        type: 'pie',
        data: data_estado_civil,
        options: {
            plugins: {
                title: {
                    display: true,
                    text: 'Estado civil'
                }
            }
        }
    };

    const ctx_estado_civil = document.getElementById('pie_estado_civil').getContext('2d');
    const pie_estado_civil = new Chart(ctx_estado_civil, config_estado_civil)




    const data_barra_etnia = {
        labels: ['Etnia'],
        datasets: [
        {% for etnia in grafico_etnia  %}
        {
            label: ['{{etnia.etnia__etnia}}',],
            data: ["{{etnia.nviews}}",],
            backgroundColor: [
                '{{etnia.cor}}'+33,
            ],
            borderColor: [
                '{{etnia.cor}}',
            ],
            borderWidth: 1
        },
        {% endfor %}
        ]
    },

    config_barra_etnia = {
        type: 'bar',
        data: data_barra_etnia,
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Quantidade'
                    }
                }
            },
            plugins: {
                title: {
                    display: true,
                    text: 'Etnia de alunos matrículados'
                }
            }
        }
    }
    const ctx_barra_etnia = document.getElementById('barra_etnia').getContext('2d');
    const barra_etnia = new Chart(ctx_barra_etnia, config_barra_etnia);





    const data_barra_3 = {
        labels: ['Status'],
        datasets: [
        {% for s in grafico_status %}
        {
            label: ['{{s.status__status__status_options}}'],
            data: [{{s.nviews}},],
            backgroundColor: [
                '{{s.cor}}'+33,
            ],
            borderColor: [
                '{{s.cor}}',
            ],
            borderWidth: 1
        },
        {% endfor %}
        ]
    },

    config_barra_3 = {
        type: 'bar',
        data: data_barra_3,
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Quantidade'
                    }
                }
            },
            plugins: {
                title: {
                    display: true,
                    text: 'Status de alunos matrículados'
                }
            }
        }
    }
    const ctx_barra_3 = document.getElementById('barra_3').getContext('2d');
    const barra_3 = new Chart(ctx_barra_3, config_barra_3);




    </script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

{% endblock %}