
<!-- Footer -->
<footer class="page-footer font-small">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Aluno</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Pesquisar aluno</a>
          </li>
          <li>
            <a href="{% url 'aluno:cadastra_aluno' %}">Cadastrar aluno</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Professor</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Pesquisar professor</a>
          </li>
          <li>
            <a href="{% url 'cadastra_professor' %}">Cadastrar professor</a>
          </li>

        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Relatório</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Relatório de aluno</a>
          </li>
          <li>
            <a href="#!">Relatório de professores</a>
          </li>
          <li>
            <a href="#!">Relatório customizado</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Configurações</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Tabela 1</a>
          </li>
          <li>
            <a href="#!">Tabela 2</a>
          </li>
          <li>
            <a href="#!">Tabela 3</a>
          </li>
          <li>
            <a href="#!">Tabela 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:

  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->