
<!-- Footer -->
<footer class="page-footer font-small mt-5">

  <!-- Footer Links -->
  <div class="container text-center text-white text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Discente</h5>

        <ul class="list-unstyled">
          <li>
            <a class='color-text-footer' href="{% url 'aluno:lista_aluno' %}">Pesquisar discente</a>
          </li>
          <li>
            <a class='color-text-footer' href="{% url 'aluno:cadastra_aluno' %}">Cadastrar discente</a>
          </li>          
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Matrícula</h5>

        <ul class="list-unstyled">
          <li>
            <a class='color-text-footer' href="{% url 'matricula:lista_probatorio' %}">Pesquisar probatório</a>
          </li>
          <li>
            <a class='color-text-footer' href="{% url 'matricula:cadastra_probatorio' %}">Cadastrar probatório</a>
          </li>
          <li>
            <a class='color-text-footer' href="{% url 'matricula:lista_matricula' %}">Pesquisar matrícula</a>
          </li>
          <li>
            <a class='color-text-footer' href="{% url 'matricula:cadastra_matricula' %}">Cadastrar matrícula</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Docente</h5>

        <ul class="list-unstyled">
          <li>
            <a class='color-text-footer' href="#!">Pesquisar docente</a>
          </li>
          <li>
            <a class='color-text-footer' href="{% url 'professor:cadastra_professor' %}">Cadastrar docente</a>
          </li>
          <li>
            <a class='color-text-footer' href="{% url 'colegiado:detalhes_colegiado' %}">Colegiado</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Relatório</h5>

        <ul class="list-unstyled">
          <li>
            <a class='color-text-footer' href="#!">Relatório de dicentes</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Configurações</h5>

        <ul class="list-unstyled">
          <li>
            <a class='color-text-footer' href="{% url 'disciplina:cadastra_disciplina' %}">Disciplina</a>
          </li>
          <li>
            <a class='color-text-footer' href="{% url 'disciplina:cadastra_disciplina_ofertada' %}">Disciplinas Ofertadas</a>
          </li>
          <!-- <li>
            <a class='color-text-footer' href="#!">Tabela 3</a>
          </li>
          <li>
            <a class='color-text-footer' href="#!">Tabela 4</a>
          </li> -->
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© {{data.year}} Copyright:

  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->