{% extends "base.html" %}

{% load static %}
{% block title %}
Home
{% endblock %}

{% block content %}

    
    <div class="body">
        {% include 'navbar.html' %}
        <div class="container p-5" style="align-items: center; justify-content: center; justify-items: center; text-justify: center;">
            
        <div class="container-sm">
            <h1 class="text-center">SISTEMA GERENCIADOR DA<br>PÓS-GRADUAÇÃO EM CIÊNCIAS MÉDICAS</h1>
        </div>
        <div class="container mt-5">
            <div class="row m-2">
                <div class="col">
                    <div class="card container" >
                        <!-- <img src="{% static 'svg/graduation-cap-solid.svg' %}" class="align-self-center" style="height: 400px; width:300px; fill: green;" frameborder="0"></img> -->
                        {% include 'svg/graduation-cap-solid.html'%}
                        <div class="card-body">
                            <div class="card-title">ALUNO</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card container" >
                        <!-- <img src="{% static 'svg/user-tie-solid.svg' %}" class="align-self-center" style="height: 400px; width: 300px;" frameborder="0"></img> -->
                        {% include 'svg/user-tie-solid.html' %}
                        <div class="card-body">
                            <div class="card-title">PROFESSOR</div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card container" >
                        <!-- <img src="{% static 'svg/graduation-cap-solid.svg' %}" class="align-self-center" style="height: 400px; width:300px; fill: green;" frameborder="0"></img> -->
                        {% include 'svg/table-list-solid.html'%}
                        <div class="card-body">
                            <div class="card-title">RELATÓRIOS</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card container" >
                        <!-- <img src="{% static 'svg/user-tie-solid.svg' %}" class="align-self-center" style="height: 400px; width: 300px;" frameborder="0"></img> -->
                        {% include 'svg/gear-solid.html' %}
                        <div class="card-body">
                            <div class="card-title">CONFIGURAÇÕES</div>
                        </div>
                    </div>
                </div>
            </div>

    
                
    
        </div>
        </div>
        
    </div>
    {% include 'footer.html' %}

    <style>
        .body {
            background: linear-gradient(180deg, #041945 0%, #224EAC 25.23%, #FFFFFF 60.02%);
            color: white;
        }

        .card {
            background-color: rgba(41, 55, 84, 1);
            width: 200px;
            height: 200px;
            padding: 5%;
            align-items: center;

        }

        footer{
            background-color: rgba(41, 55, 84, 1);
            color: white;
        }

        svg {
            fill:white;
            height: 200px;
            width: 200px;
        }

        a {
            color: white;

        }

        a:hover {
            text-decoration: none;
            color: white;

        }

    </style>

{% endblock %}