{% load static %}

<nav class="navbar navbar-expand-lg fixed-top px-2 gap-5">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
     {% comment %} <a href="{% url 'home' %}">
    {% include 'svg/sun-weather-sunny.html'%}
    </a> {% endcomment %}
    <a href="{% url 'home' %}" class="">
      <img class="img-responsive" src='{% static "img/PPGCM_sem_fundo.png" %}' width="200">
      </a>
      <div class="collapse navbar-collapse justify-content-center px-5" id="navbarNavAltMarkup">
      <div class="d-flex-inline px-5">
        <ul class="navbar-nav gap-3">
          <li data-toggle="tooltip" data-placement="right" title="Início">
            <a class="nav-item nav-link" href="{% url 'home' %}"><i class="fa-solid fa-house fa-lg"></i></a>
          </li>        
          <li class="dropdown" data-toggle="tooltip" data-placement="right" title="Gerenciar alunos e matrículas">
            <a class="nav-item nav-link dropdown-toggle" href="#"  role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-user-graduate fa-lg"></i></a>
            <ul class="dropdown-menu">            
              <div class="dropdown dropright">
                <a class="dropdown-item">Aluno {% include 'svg/dropright.html' %} </a>
                <div class="dropdown-menu">
                  <li><a href="{% url 'aluno:lista_aluno' %}" class="dropdown-item">Pesquisar Aluno</a></li>
                  <li><a href="{% url 'aluno:cadastra_aluno' %}" class="dropdown-item">Cadastrar Aluno</a></li>
                </div>
              </div>
              <div class="dropdown dropright">
                <a class="dropdown-item">Probatório {% include 'svg/dropright.html' %}</a>
                <div class="dropdown-menu">
                  <li><a href="{% url 'matricula:lista_probatorio' %}" class="dropdown-item">Pesquisar Probatório</a></li>
                  <li><a href="{% url 'matricula:cadastra_probatorio' %}" class="dropdown-item">Cadastrar Probatório</a></li>
                </div>
              </div>
              <div class="dropdown dropright">
                <a class="dropdown-item">Matrícula {% include 'svg/dropright.html' %}</a>
                <div class="dropdown-menu">
                  <li><a href="{% url 'matricula:lista_matricula' %}" class="dropdown-item">Pesquisar Matrículas</a></li>
                  <li><a href="{% url 'matricula:cadastra_matricula' %}" class="dropdown-item">Cadastrar Matrícula</a></li>
                </div>
              </div>              
            </ul>
          </li>
        <li class="dropdown" data-toggle="tooltip" data-placement="right" title="Gerenciar eventos">
          <a class="nav-item nav-link dropdown-toggle" href="#"  role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-calendar-week fa-lg"></i></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'evento:mostra_eventos_sem_slug' %}" class="dropdown-item">Calendário</a></li>
            <li><a href="{% url 'evento:cadastra_evento' %}" class="dropdown-item">Cadastrar Evento</a></li>
          </ul>
        </li>
        <li class="dropdown" data-toggle="tooltip" data-placement="right" title="Gerenciar professores">
          <a class="nav-item nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-chalkboard-user fa-lg"></i></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'professor:lista_professor' %}" class="dropdown-item">Pesquisar Professor</a></li>
            <li><a href="{% url 'professor:cadastra_professor' %}" class="dropdown-item">Cadastrar Professor</a></li>
            <li><a href="{% url 'professor:detalhes_colegiado' %}" class="dropdown-item">Colegiado</a></li>
          </ul>
        </li>
        <li data-toggle="tooltip" data-placement="right" title="Ver e gerar relatórios e dashboards"><a class="nav-item nav-link" href="{% url 'relatorios:filtra_aluno' %}"><i class="fa-solid fa-chart-line fa-lg"></i></a></li>

        <li data-toggle="tooltip" data-placement="right" title="Configurações do sistema e tabelas auxiliares">
          <a class="nav-item nav-link" href="{% url 'config:lista_tabelas' %}"><i class="fa-solid fa-gear fa-lg"></i></a>
        </li>
        <li data-toggle="tooltip" data-placement="right" title="Encerrar Sessão">
          <a class="nav-item nav-link" href="{% url 'logout_view' %}"><i class="fa-solid fa-right-from-bracket fa-lg"></i></a>
        </li>
      </ul>
      </div>
    </div>
    
    <a href="{% url 'home' %}" class="mr-5">
      <img class="img-responsive" src='{% static "img/UFF1.png" %}' width="70">
      </a>        
  </nav>  
  <style>

    .dropright {
      position: relative;
    }
    
    .dropright .dropdown-menu {
      top: 0;
      left: 100%;
    }

  </style>

  <script>
 /*
    $(document).ready(function() {

      $('.dropright a').on("hover", function(e) {
          e.stopPropagation();
          e.preventDefault();
      
          if (!$(this).next('div').hasClass('show')) {
            $(this).next('div').addClass('show');
          } else {
            $(this).next('div').removeClass('show');
          }      
        });

      $('.dropright a').on("click", function(e) {
        e.stopPropagation();
        e.preventDefault();
    
        if (!$(this).next('div').hasClass('show')) {
          $(this).next('div').addClass('show');
        } else {
          $(this).next('div').removeClass('show');
        }    
      });

    });
    */
  </script>