{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Novo Evento
{% endblock %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="body container d-flex-inline justify-content-center mb-5">      
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home'%}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'evento:mostra_eventos_sem_slug'%}">Calendário</a></li>
          <li class="breadcrumb-item"><a href="{% url 'evento:detalhes_evento' evento.slug %}">{{evento}}</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'evento:cadastra_participante' evento.slug %}">{{pagina}}</a></li>        
        </ol>
      </nav>
      <h1 class="text-center">{{pagina}}</h1>

      <form action="" method="POST" class="cadastro_form">
        {% csrf_token %}
        
        {{form_participante|crispy}}


        <div class="d-flex justify-content-center gap-2 m-3">
          <a class="btn btn-danger btn-group-sm" href="{% url 'evento:detalhes_evento' evento.slug %}">Cancelar</a>
          <input class="btn btn-primary btn-group-sm" type="submit" value="Adicionar">
        </div>
      </form>
    </div>


{% include 'footer.html' %}
{% endblock %}