{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Novo Evento
{% endblock %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="body container d-flex-inline justify-content-center mb-5">      
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home'%}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'evento:cadastra_evento' %}">{{pagina}}</a></li>        
        </ol>
      </nav>
      <h1 class="text-center">{{pagina}}</h1>

      <form action="" method="POST" class="cadastro_form">
        {% csrf_token %}
        
        {% include 'forms_template/form_evento.html' with form_evento=form_evento %}
      


        <div class="d-flex justify-content-center m-3">
          <button class="btn btn-primary m-4" type="submit">Salvar</button>
        </div>
      </form>
    </div>

{% include 'footer.html' %}
{% endblock %}