{% extends "base.html" %}

{% load static %}

{% block title %}
Calendario de Eventos
{% endblock %}

{% block content %}
    {% include 'navbar.html' %}
    <div class='container body d-flex justify-content-center'>
        <div class="container">
            <h1 class='text-center mt-1 mb-4'>Calendário de Eventos</h1>
            <div class="container row justify-content-between">
              <div class="m-2">
                <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#todos-eventos">
                
                <i class="fa-solid fa-bars"></i>
                
                </a>
              </div>
              <div class="col-4 text-start">
                <a href='{% url "evento:mostra_eventos" p_month.month  p_month.year %}'>
                  <i class="fa-sharp fa-solid fa-angle-left fa-2x"></i>
                </a>
              </div>
                <div class="col text-center">
                  <a href='{% url "evento:mostra_eventos" data.month  data.year %}' style="color:#224EAC;">
                    <i class="fa-sharp fa-solid fa-calendar-week"></i> Hoje 
                  </a>
                </div>
              <div class="col-4 text-end">
                <a href='{% url "evento:mostra_eventos" n_month.month n_month.year %}'>
                 <i class="fa-sharp fa-solid fa-angle-right fa-2x"></i>
                </a>
              </div>
              {{calendario|safe}}
            </div>
            
        </div>
    </div>

    <!-- 
=================================
        Tela Modal - Evento do Dia
=================================
    -->

    <div id="todos-eventos" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
                <div class="container">
                    <h5 class="modal-title">Eventos Cadastrados</h5>
                </div>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% if not eventos %}
            <div class="modal-body">
              <p class='text-center'><i>Nenhum evento disponível.</i></p>
            </div>

            {% elif eventos %}          
              <div class="card">
                <table>              
                  <thead>
                      <th>Data</th>
                      <th>Hora</th>
                      <th>Evento</th>
                      <th>Trabalho Final</th>
                      <th>Aluno</th>
                  </thead>
                  {% for e in eventos %}
                  <tr onclick="location.href='{% url 'evento:detalhes_evento' e.slug %}'" class="item-evento" style="cursor: pointer">
                      <td class="atributo-evento-item">{{e.evento_data|date:"d/m/Y"}}</td>
                      <td class="atributo-evento-item">{{e.evento_hora}}</td>
                      <td class="atributo-evento-item">{{e}}</td>
                      <td class="atributo-evento-item">{{e.evento_trabalho_final}}</td>
                      <td class="atributo-evento-item">{{e.evento_trabalho_final.matricula.probatorio}}</td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
              
            {% endif %}

            <div class="modal-footer">
              <a type="button" href="{% url 'evento:cadastra_evento' %}" class="btn btn-primary">Adicionar Evento</a>
            </div>
          </div>
        </div>
      </div>

    <!-- 
=================================
        FIM Tela Modal
=================================
    -->


        <!-- 
=================================
        Tela Modal - Todos os Eventos
=================================
    -->

    <div id="eventos-dia" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
              <div class="container">
                  <h5 class="modal-title">Eventos</h5>
                  <span id="data-modal"><i></i></span>
              </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body modal-evento-dia">
            <p class='text-center'><i>Nenhum evento disponível.</i></p>
          </div>
          <div class="modal-footer">
            <a type="button" href="{% url 'evento:cadastra_evento' %}" class="btn btn-primary">Adicionar Evento</a>
          </div>
        </div>
      </div>
    </div>

  <!-- 
=================================
      FIM Tela Modal
=================================
  -->


    {% include 'footer.html' %}

    <style>
      th.month {
        text-align: center;
      }
      th {
        background-color: #224EACFF;
        text-align: center;
        border-style: solid;
        border-width: 2px;
        border-color: white;
        color: white;
      }
      td {
        width: 150px;
        height: 50px;
        border-style: solid;
        border-width: 2px;
        border-color: white;
        text-align: center;
      }

      .dias {
        background-color: #224EAC22;
      }

      .dia-hoje {
      background-color: #224EAC;
      color: white;
      }

      .dia-hoje:hover {
      background-color: #224EAC77;
      color: white;
      cursor: pointer;
      }

      .dias:hover {
      background-color: #224EAC77;
      cursor: pointer;
      }

      .dias:hover {
      color: white;
      }

      

      </style>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
      <script>
        $(document).ready(function(){
          $('.dias').on('click',function(){
              evento_card = '';
              count = false;
              dia_selecionado = $(this).find('#dia-invisivel').html()  //    1/1/2023   01/01/2023
              dia = dia_selecionado.substring(0, dia_selecionado.indexOf("/"));
              mes = dia_selecionado.substring(dia_selecionado.indexOf("/") + 1, dia_selecionado.lastIndexOf("/"));
              if (parseInt(dia) <= 9) {
                dia = '0'+ dia.toString();
              }
              
              if (parseInt(mes) <= 9) {
                mes = '0'+ mes.toString();
              }
              dia_selecionado = dia + '/' + mes + dia_selecionado.substr(dia_selecionado.length -5, dia_selecionado.length);
              console.log(dia_selecionado)
              $("#data-modal i").html(dia_selecionado);
              {% for e in eventos %}
              console.log("{{e.evento_data| date:"d/m/Y"}}")
              if (dia_selecionado === "{{e.evento_data| date:"d/m/Y"}}") {
                count = true;

                evento_card += `
                    <tr onclick="location.href='{% url 'evento:detalhes_evento' e.slug %}'" class="item-evento border" style="cursor: pointer">
                      <td class="atributo-evento-item">{{e.evento_hora}}</td>
                      <td class="atributo-evento-item">{{e}}</td>
                      <td class="atributo-evento-item">{{e.evento_trabalho_final}}</td>
                      <td class="atributo-evento-item">{{e.evento_trabalho_final.matricula.probatorio}}</td>
                    </tr>`;
                evento_card_table = `<div class="card border-0"><table>` + evento_card + `</table></div>`;  

                $('.modal-evento-dia').html(evento_card_table);
              } 

              {% endfor %}

              if (count === false) {
                evento_card = `
                <p class='text-center'><i>Nenhum evento disponível.</i></p>
                `;
                $('.modal-evento-dia').html(evento_card);
              }
          });
      });

      </script>

{% endblock %}