{% load crispy_forms_tags %}

<div  id="{{tabela}}" class="tab-pane container pt-4 {{active}}">
    <h5>Cadastrar {{titulo}}</h5>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link {% if objeto.values is None %}active{% endif %}" data-toggle="tab" href="#id_cadastro_{{tabela}}">Cadastro</a>
        </li>
        {% if objeto.values is not None %}
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#id_registros_{{tabela}}">Registros</a>
        </li>
        {% endif %}
    </ul>  
    <div class="container my-2">
        <span>Quantidade: <b>{{objeto.values|length}}</b></span>
    </div>          
    <div class="tab-content">                        
        <div id="id_cadastro_{{tabela}}" class="tab-pane container pt-4 {% if objeto.values is None %}active{% endif %}">
            <form method="POST">
                {% csrf_token %}
                {{objeto.form|crispy}}

                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary m-4" type="submit">Salvar</button>
                </div>
            </form>
        </div>
        {% if objeto.values is not None %}
            
            <div id="id_registros_{{tabela}}" class="tab-pane container active">
                
                <table class="table">
                    <thead>
                        {% for value in objeto.colunas %}
                        <th scope='col'>
                            <div class="d-flex justify-content-center gap-1">
                            {{value}}
                            </div>
                        
                        </th>
                        {% endfor %}
                    </thead>
                    <tbody>
                        {% for r in objeto.values %}
                            <tr> 
                            {% for k, v in r.items %}
                                <td>
                                {% if v.0 == '#'  %}
                                    <div class="d-flex justify-content-center gap-1" height="100" width="100" style="color: {{v}}">
                                        <div style="height: 20px;width: 20px;background-color: {{v}}"></div>
                                        <p>{{v}}</p>
                                    </div>
                                {% else %}      
                                <div class="d-flex justify-content-center gap-1">                                  
                                    {{v}}
                                </div>
                                {% endif %}                        
                                </td>
                            {% endfor %}
                            <tr> 
                        {% endfor %}
                    </tbody>
                </table>            
            </div>
        {% endif %}
    </div>
</div>