{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Cadastrar Docente
{% endblock %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="body container" style="align-items: center; justify-content: center; justify-items: center; text-justify: center;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home'%}">Home</a></li>
      
              <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'professor:cadastra_professor' %}">{{pagina}}</a></li>
            </ol>
          </nav>
          <h3 class="text-center my-3">{{pagina}}</h3>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#id_info">Informações Pessoais</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#id_endereco">Endereço</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#id_graduacao">Graduação</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#id_trabalho">Instituição</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#id_posdoc">Pós-Doutorado</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#id_doutorado">Doutorado</a>
            </li>
        </ul>


        {% if form_professor.errors or form_trabalho.errors or form_pos_doutorado.errors or form_endereco.errors or form_titulacao.errors %}
                <div class="alert alert-danger mt-3 text-sm">
                    <div class="row">
                        {% if form_professor.errors %}
                        <div class="col">
                            <p style="text-transform: uppercase;">Aba <u>Informações Pessoais</u></p>
                            {% for field in form_professor %}
                            <tr>
                                {% if field.errors %}
                                <span>{{ field.label_tag }}</span>
                                <td>                                    
                                    {{field.errors}}
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </div>
                        {% endif %}                        
                        
                        {% if form_graduacao.errors %}
                        <div class="col">
                            <p style="text-transform: uppercase;">Aba <u>Graduação</u></p>
                            {% for field in form_graduacao  %}
                            <tr>
                                {% if field.errors %}
                                <td>{{ field.label_tag }}</td>
                                <td>                                    
                                    {{field.errors}}
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% if form_trabalho.errors %}
                        <div class="col">
                            <p style="text-transform: uppercase;">Aba <u>Instituição</u></p>
                            {% for field in form_trabalho %}
                            <tr>
                                {% if field.errors %}
                                <td>{{ field.label_tag }}</td>
                                <td>                                    
                                    {{field.errors}}
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% if form_pos_doutorado.errors %}
                        <div class="col">
                            <p style="text-transform: uppercase;">Aba <u>Pós Doutorado</u></p>
                            {% for field in form_pos_doutorado %}
                            <tr>
                                {% if field.errors %}
                                <td>{{ field.label_tag }}</td>
                                <td>                                    
                                    {{field.errors}}
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% if form_endereco.errors %}
                        <div class="col">
                            <p style="text-transform: uppercase;">Aba <u>Endereço</u></p>
                            {% for field in form_endereco %}
                            <tr>
                                {% if field.errors %}
                                <td>{{ field.label_tag }}</td>
                                <td>                                    
                                    {{field.errors}}
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% if form_doutorado.errors %}
                        <div class="col">
                            <p style="text-transform: uppercase;">Aba <u>Doutorado</u></p>
                            {% for field in form_doutorado %}
                            <tr>
                                {% if field.errors %}
                                <td>{{ field.label_tag }}</td>
                                <td>                                    
                                    {{field.errors}}
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}



        <form action="" method="POST" class="cadastro_form">
            {% csrf_token %}
            <div class="tab-content">
            <div id="id_info" class="tab-pane container active">
                <h1>Informações Pessoais</h1>
                {% include 'forms_template/form_professor.html' with form_professor=form_professor %}
                
            </div>
            <div id="id_endereco" class="tab-pane container">
                <h1>Endereço</h1>
                {% include 'forms_template/form_endereco.html' with form_endereco=form_endereco pagina='professor' %}
                {% comment %} {{form_endereco|crispy}} {% endcomment %}
            </div>
            <div id="id_graduacao" class="tab-pane container">
                <h1>Graduação</h1>
                {% include 'forms_template/form_graduacao_professor.html' with form_graduacao=form_graduacao pagina='graduacao' %}
            </div>
            <div id="id_trabalho" class="tab-pane container">
                <h1>Instituição</h1>
                {% include 'forms_template/form_trabalho_professor.html' with form_trabalho_professor=form_trabalho pagina='trabalho_professor' %}
            </div>
            <div id="id_posdoc" class="tab-pane container">
                <h1>Pos-Doutorado</h1>
                {% include 'forms_template/form_pos_doutorado.html' with form_pos_doutorado=form_pos_doutorado %}
            </div>
            <div id="id_doutorado" class="tab-pane container">
                <h1>Doutorado</h1>
                {% include 'forms_template/form_doutorado.html' with form_doutorado=form_doutorado %}
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <button class="btn btn-primary m-4" type="submit" formnovalidate="formnovalidate">Salvar</button>
        </div>
        </form>
    </div>

<style>
    h1 {
        color: #224EAC;
        text-align: center;
        margin: 10px;
    }
</style>

{% include 'footer.html' %}
{% endblock %}