{% extends "base.html" %}

{% load static %}

{% block title %}
{{pagina}}
{% endblock %}

{% block content %}
  {% include 'navbar.html' %}
  <div class="body container d-flex-inline justify-content-center mb-5">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home'%}">Home</a></li>

        <li class="breadcrumb-item active" aria-current="page"><a href="{% if pagina == 'Pesquisar Professor' %}{% url 'professor:lista_professor' %}{% elif pagina == 'Colegiado' %}{% url 'professor:detalhes_colegiado' %}{% endif %}">{{pagina}}</a></li>
      </ol>
    </nav>
    <h1 class="text-center">{{pagina}}</h1>

    <form method='GET' class="m-4">

      {% if pagina == 'Colegiado' %} 
        <div class='row my-5 flex-row justify-content-center'>
          <div class='col-2'>   
            <div class="form-group mb-2">
              <label for="id_data_entrada">Data de Entrada</label>
              <input type="date" class="form-control" id="id_data_entrada_inicio" name='id_data_entrada_inicio'>
              <input type="date" class="form-control" id="id_data_entrada_fim" name='data_entrada_fim'>
              <input class="form-check-input" type="checkbox" id="id_membros_ativos_view" name="membros_ativos_view" checked>
              <input class="form-check-input" type="checkbox" id="id_membros_ativos" name="membros_ativos" hidden>
              <label class="form-check-label" for="id_membros_ativos">Membros ativos</label>
            </div>
          </div>
          <div class='col-2'> 
            <div class="form-group mb-2">
              <label for="data_saida">Data de Saída</label>
              <input type="date" class="form-control" id="id_data_saida_inicio" name='data_saida_inicio' readonly>
              <input type="date" class="form-control" id="id_data_saida_fim" name='data_saida_fim' readonly>
              <input class="form-check-input" type="checkbox" id="id_membros_passados" name="membros_passados">
              <label class="form-check-label" for="id_membros_passados">Membros anteriores</label>
            </div>
          </div>
        </div>
        {% endif %}
      <div class="input-group rounded">        

        {% if busca == None %}
            <input type='text' class='form-control' placeholder="Pesquise por CPF ou Nome" value='' name='search' id='search'>
        {% else %}
            <input type='text' class='form-control' placeholder="Pesquise por CPF ou Nome" value='{{busca}}' name='search' id='search'>          
        {% endif %}

        <span class="input-group-text border-0" id="search-addon">
          <i class="fas fa-search"></i>
        </span>
        </div>
    </form>


    {% if pagina == 'Colegiado' %}

    <table class="table"> 
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">CPF</th>
          <th scope="col">Email</th>
          <th scope="col">Telefone</th>
          {% if pagina == 'Colegiado' %}
          <th scope="col">Data de Entrada</th>
          {% endif %}
        </tr>
      </thead>  
      {% for professor in professores %}
      <a href="">
      <tr onclick="location.href='{% url 'professor:detalhes_professor' professor.slug %}'" style="cursor: pointer;">
          <td>{{professor.nome}}</td>
          <td>{{professor.cpf}}</td>

          {% if professor.trabalho.email is None %}          
          <td>Não informado</td>
          {% else %}
          <td>{{professor.trabalho.email}}</td>
          {% endif %}

          {% if professor.endereco.telefone1 is None %}
            <td>Não informado</td>
          {% else %}
          <td>{{professor.endereco.telefone1}}</td>
          {% endif %}

          {% if pagina == 'Colegiado' %}
            {% if professor.membro_colegiado.colegiado_data_entrada is None %}
            <td>Não informado</td>
            {% else %}
            <td>{{professor.membro_colegiado.colegiado_data_entrada}}</td>
            {% endif %}
            
          {% endif %}
      </tr>
      </a>

      {% endfor %}
    </table>
    {% endif %}

    <div class="row d-flex-inline justify-content-center gap-5 align-items-center my-5">
      <div class="col-4">
        <canvas id="myChart" width="150" height="100"></canvas>
      </div>
      <div class="col-4 card card-total">
            <h5 class="display-5 text-center">{{total}}</h5>
            {% if total > 1 %}
            <p class="display-10 text-center">PROFESSORES</p>
            {% else %}
            <p class="display-10 text-center">PROFESSOR</p>
            {% endif %}
      </div>
      <div class="col-4">
        <canvas id="myChart2" width="150" height="100"></canvas>
      </div>

    
    
    </div>
  </div>


  {% include 'footer.html' %}
<script>
  const ctx = document.getElementById('myChart').getContext('2d');
  const myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
          datasets: [{
              label: '# of Votes',
              data: [12, 19, 3, 5, 2, 3],
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });
  </script>

<script>
  const ctx2 = document.getElementById('myChart2').getContext('2d');
  const myChart2 = new Chart(ctx2, {
      type: 'bar',
      data: {
          labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
          datasets: [{
              label: '# of Votes',
              data: [12, 19, 3, 5, 2, 3],
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });
  
</script>
  {% if pagina == 'Colegiado' %}
  
  <script type="text/javascript">
    const date = new Date().toJSON().slice(0, 10);

    $(document).ready(function () {
      $("#id_membros_passados").change(function () {
        if ($(this).is(":checked")) {
          $('#id_data_saida_inicio').removeAttr("readonly").attr('value', date);
          $('#id_data_saida_fim').removeAttr("readonly").attr('value', date);
        }
        else {
          $('#id_data_saida_inicio').attr('readonly', true).attr('value', '');
          $('#id_data_saida_fim').attr('readonly', true).attr('value', '');
        }
      });

      $("#id_membros_ativos_view").change(function () {
        if (not $(this).is(":checked")) {
          $('#id_membros_ativos').addAttr("checked");
        }
        else {
          $('#id_membros_ativos').removeAttr("checked");
        }
      });


    });
  </script>


  {% endif %}

{% endblock %}