{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Tabelas Auxiliares
{% endblock %}

{% block content %}

    {% include 'navbar.html' %}
    <div class="body container">
        {% include 'msg/message.html' %}
        <h3 class="text-center">Tabelas Auxiliares</h3>

        <div class="d-flex gap-1">
            <div class="border p-2 w-25">
                <ul class="nav nav-pills nav-stacked flex-row gap-1 justify-content-center"> 
                    {% for k,v in context.items %}
                    <li><a href="#{{v.tabela}}" class="btn btn-primary" style="width:300px;" data-toggle="pill">{{v.titulo}}</a></li>    
                    {% endfor %}
                </ul>
            </div>

            <div class="float-right w-100 border p-2">
                <div class="tab-content">

                    {% for k,v in context.items %}
                        {% if forloop.counter == 1 %}
                            {% include 'tabelas_auxiliares/cadastra_disciplina.html' with titulo=v.titulo tabela=v.tabela objeto=v active='active' %}    
                        {% endif %}
                        {% include 'tabelas_auxiliares/cadastra_disciplina.html' with titulo=v.titulo tabela=v.tabela objeto=v %}
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}
{% endblock %}