{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Cadastra Aluno
{% endblock %}

{% block content %}




<div class="">
    {% include 'navbar.html' %}
    <div class="body container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home'%}">Home</a></li>
              <li class="breadcrumb-item"><a href="{% url 'aluno:lista_aluno' %}">Pesquisar alunos</a></li>
              
              {% if pagina == 'Atualizar Aluno' %}
              <li class="breadcrumb-item"><a href="{% url 'aluno:detalhes_aluno' aluno.slug %}">{{aluno}}</a></li>
              <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'aluno:edita_aluno' aluno.slug %}">Atualizar Aluno</a></li>
              {% else %}
              <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'aluno:cadastra_aluno' %}">Cadastra Aluno</a></li>
              {% endif %}
            </ol>
          </nav>
        <h3 class="text-center my-3">{{pagina}}</h3>
        <div class="flex w-75 container">

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#id_info">Informações Pessoais</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#id_endereco">Endereço</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#id_graduacao">Graduação</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#id_trabalho">Trabalho</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#id_residencia">Residência</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#id_titulacao">Titulação</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#id_probatorio">Probatório</a>
                </li>
            </ul>

            {% if form_aluno.errors or form_endereco.errors or form_graduacao.errors or form_ensino_medio.errors or form_trabalho.errors or form_endereco_trabalho.errors or form_residencia.errors or form_titulacao.errors %}
                <div class="alert alert-danger mt-3 text-sm">
                    <div class="row">
                        {% if form_aluno.errors %}
                        <div class="col">
                            <p style="text-transform: uppercase;">Aba <u>Aluno</u></p>
                            {% for field in form_aluno %}
                            <tr>
                                {% if field.errors %}
                                <span>{{ field.label_tag }}</span>
                                <td>                                    
                                    {{field.errors}}
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </div>
                        {% endif %}                        
                        {% if form_endereco.errors %}
                        <div class="col">
                            <p style="text-transform: uppercase;">Aba <u>Endereço</u></p>
                            {% for field in form_endereco  %}
                            <tr>
                                {% if field.errors %}
                                <td>{{ field.label_tag }}</td>
                                <td>                                    
                                    {{field.errors}}
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% if form_graduacao.errors %}
                        <div class="col">
                            <p style="text-transform: uppercase;">Aba <u>Graduação</u></p>
                            {% for field in form_graduacao %}
                            <tr>
                                {% if field.errors %}
                                <td>{{ field.label_tag }}</td>
                                <td>                                    
                                    {{field.errors}}
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% if form_ensino_medio.errors %}
                        <div class="col">
                            <p style="text-transform: uppercase;">Aba <u>Ensino Médio</u></p>
                            {% for field in form_ensino_medio %}
                            <tr>
                                {% if field.errors %}
                                <td>{{ field.label_tag }}</td>
                                <td>                                    
                                    {{field.errors}}
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% if form_trabalho.errors %}
                        <div class="col">
                            <p style="text-transform: uppercase;">Aba <u>Trabalho</u></p>
                            {% for field in form_trabalho %}
                            <tr>
                                {% if field.errors %}
                                <td>{{ field.label_tag }}</td>
                                <td>                                    
                                    {{field.errors}}
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% if form_endereco_trabalho.errors %}
                        <div class="col">
                            <p style="text-transform: uppercase;">Aba <u>Endereço do Trabalho</u></p>
                            {% for field in form_endereco_trabalho %}
                            <tr>
                                {% if field.errors %}
                                <td>{{ field.label_tag }}</td>
                                <td>                                    
                                    {{field.errors}}
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% if form_residencia.errors %}
                        <div class="col">
                            <p style="text-transform: uppercase;">Aba <u>Residência</u></p>
                            {% for field in form_residencia %}
                            <tr>
                                {% if field.errors %}
                                <td>{{ field.label_tag }}</td>
                                <td>                                    
                                    {{field.errors}}
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% if form_titulacao.errors %}
                        <div class="col">
                            <p style="text-transform: uppercase;">Aba <u>Titulação</u></p>
                            {% for field in form_titulacao %}
                            <tr>
                                {% if field.errors %}
                                <td>{{ field.label_tag }}</td>
                                <td>                                    
                                    {{field.errors}}
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% if form_probatorio.errors %}
                        <div class="col">
                            <p style="text-transform: uppercase;">Aba <u>Probatório</u></p>
                            {% for field in form_probatorio %}
                            <tr>
                                {% if field.errors %}
                                <td>{{ field.label_tag }}</td>
                                <td>                                    
                                    {{field.errors}}
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            

            <form action="" method="POST" class="">
                {% csrf_token %}


                <div class="tab-content">
                    <div id="id_info" class="tab-pane container pt-4 active">
                        {% include 'forms_template/form_aluno.html' with form_aluno=form_aluno %}
                        {% comment %} {{form_aluno|crispy}} {% endcomment %}
                        
                    </div>
                    <div id="id_endereco" class="tab-pane container pt-4">
                        {% include 'forms_template/form_endereco.html' with form_endereco=form_endereco pagina='aluno' %}
                        {% comment %} {{form_endereco|crispy}} {% endcomment %}
                        
                    </div>
                    <div id="id_graduacao" class="tab-pane container pt-4">
                        <h5 class="mb-4">Ensino Superior</h5>
                        <hr>
                        {% include 'forms_template/form_graduacao.html' with form_graduacao=form_graduacao %}
                        {% comment %} {{form_graduacao|crispy}} {% endcomment %}

                        <h5 class="my-4">Ensino Médio</h5>
                        <hr>
                        {% include 'forms_template/form_ensino_medio.html' with form_ensino_medio=form_ensino_medio %}
                        {% comment %} {{form_ensino_medio|crispy}} {% endcomment %}
                        
                    </div>
                    <div id="id_trabalho" class="tab-pane container pt-4">
                        {% include 'forms_template/form_trabalho.html' with form_trabalho=form_trabalho %}

                        <h5 class="my-4">Endereço do Trabalho</h5>
                        <hr>
                        {% include 'forms_template/form_endereco.html' with form_endereco=form_endereco_trabalho pagina='endereco_trabalho' %}

                        {% comment %} {{form_endereco_trabalho|crispy}} {% endcomment %}
                        
                    </div>
                    <div id="id_residencia" class="tab-pane container pt-4">
                        {% include 'forms_template/form_residencia.html' with form_residencia=form_residencia %}
                        {% comment %} {{form_residencia|crispy}} {% endcomment %}
                        
                    </div>
                    <div id="id_titulacao" class="tab-pane container pt-4">
                        {% include 'forms_template/form_titulacao.html' with form_titulacao=form_titulacao %}
                        {% comment %} {{form_titulacao|crispy}} {% endcomment %}
                        
                    </div>
                    <div id="id_probatorio" class="tab-pane container pt-4">
                        {% comment %} {% include 'forms_template/form_titulacao.html' with form_titulacao=form_titulacao %} {% endcomment %}
                        {{form_probatorio|crispy}}
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    {% if pagina == 'Atualizar Aluno' %}
                    <a class="btn btn-danger m-4" href="{% url 'aluno:detalhes_aluno' aluno.slug %}">Cancelar</a>
                    {% endif %}
                    <input class="btn btn-primary m-4" type="submit" formnovalidate="formnovalidate" value="Salvar"/>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    {% comment %} $(document).ready(function (){
        validate();
        $('#id_nome, #id_email, #id_telefone1').change(validate);
    });
    
    function validate(){
        if ($('#id_nome').val().length > 0 &&
            $('#id_email').val().length > 0 &&
            $('#id_telefone1').val().length > 0) {
            $("input[type=submit]").prop("disabled", false);
        }
        else {
            $("input[type=submit]").prop("disabled", true);
        }
    } {% endcomment %}
</script>



{% include 'footer.html' %}
{% endblock %}