{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Cadastra Aluno
{% endblock %}

{% block content %}




<div class="">
    {% include 'navbar.html' %}
    <div class="body container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home'%}">Home</a></li>
              <li class="breadcrumb-item"><a href="{% url 'aluno:lista_aluno' %}">Pesquisar alunos</a></li>
              
              {% if pagina == 'Atualizar Aluno' %}
              <li class="breadcrumb-item"><a href="{% url 'aluno:detalhes_aluno' aluno.slug %}">{{aluno}}</a></li>
              <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'aluno:edita_aluno' aluno.slug %}">Atualizar Aluno</a></li>
              {% else %}
              <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'aluno:cadastra_aluno' %}">Cadastra Aluno</a></li>
              {% endif %}
            </ol>
          </nav>
        <h3 class="text-center my-3">{{pagina}}</h3>
        <div class="flex w-75 container">

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#id_info">Informações Pessoais</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#id_endereco">Endereço</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#id_graduacao">Graduação</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#id_trabalho">Trabalho</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#id_residencia">Residência</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#id_titulacao">Titulação</a>
                </li>
            </ul>

            <form action="" method="POST" class="">
                {% csrf_token %}
                <div class="tab-content">
                    <div id="id_info" class="tab-pane container pt-4 active">
                        {% include 'forms_template/form_aluno.html' with form_aluno=form_aluno %}
                        {% comment %} {{form_aluno|crispy}} {% endcomment %}
                    </div>
                    <div id="id_endereco" class="tab-pane container pt-4">
                        {% include 'forms_template/form_endereco.html' with form_endereco=form_endereco pagina='aluno' %}
                        {% comment %} {{form_endereco|crispy}} {% endcomment %}
                    </div>
                    <div id="id_graduacao" class="tab-pane container pt-4">
                        <h5 class="mb-4">Ensino Superior</h5>
                        <hr>
                        {% include 'forms_template/form_graduacao.html' with form_graduacao=form_graduacao %}
                        {% comment %} {{form_graduacao|crispy}} {% endcomment %}

                        <h5 class="my-4">Ensino Médio</h5>
                        <hr>
                        {% include 'forms_template/form_ensino_medio.html' with form_ensino_medio=form_ensino_medio %}
                        {% comment %} {{form_ensino_medio|crispy}} {% endcomment %}
                    </div>
                    <div id="id_trabalho" class="tab-pane container pt-4">
                        {% include 'forms_template/form_trabalho.html' with form_trabalho=form_trabalho %}

                        <h5 class="my-4">Endereço do Trabalho</h5>
                        <hr>
                        {% include 'forms_template/form_endereco.html' with form_endereco_trabalho=form_endereco_trabalho pagina='endereco_trabalho' %}

                        {% comment %} {{form_endereco_trabalho|crispy}} {% endcomment %}
                    </div>
                    <div id="id_residencia" class="tab-pane container pt-4">
                        {% include 'forms_template/form_residencia.html' with form_residencia=form_residencia %}
                        {% comment %} {{form_residencia|crispy}} {% endcomment %}
                    </div>
                    <div id="id_titulacao" class="tab-pane container pt-4">
                        {% include 'forms_template/form_titulacao.html' with form_titulacao=form_titulacao %}
                        {% comment %} {{form_titulacao|crispy}} {% endcomment %}
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary m-4" type="submit">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>



{% include 'footer.html' %}
{% endblock %}