{% extends "base.html" %}

{% load static %}

{% block title %}
Pesquisar Aluno
{% endblock %}

{% block content %}
  {% include 'navbar.html' %}
  <div class="container body">
    {% include 'msg/message.html' %}
    <div class="mx-4">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home'%}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'aluno:lista_aluno'%}">Pesquisar alunos</a></li>
      </ol>
    </nav>
  </div>
    <h1 class="text-center">Alunos cadastrados</h1>

    <form method='GET' class="m-4">
      <div class="input-group rounded">
        {% if busca == None %}
        <input type='text' class='form-control' placeholder="Pesquise por CPF ou Nome" value='' name='search' id='search'>
        {% else %}
        <input type='text' class='form-control' placeholder="Pesquise por CPF ou Nome" value='{{busca}}' name='search' id='search'>
        {% endif %}
        <span class="input-group-text border-0" id="search-addon">
          <i class="fas fa-search"></i>
        </span>
        </div>
    </form>


    {% if busca %}

    <table class="table"> 
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">CPF</th>
          <th scope="col">Email</th>
          <th scope="col">Telefone</th>
        </tr>
      </thead>  
      {% for aluno in alunos %}
        <tr onclick="location.href='{% url 'aluno:detalhes_aluno' aluno.slug %}'" style="cursor: pointer;">
            <td>{{aluno.nome}}</td>
            <td>{{aluno.cpf}}</td>
            <td>{{aluno.email}}</td>
            <td>{{aluno.endereco.telefone1}}</td>
        </tr>
      {% endfor %}

    </table>
    <hr class="my-5">
    {% endif %}

    <div class="row d-flex-inline justify-content-center gap-5 align-items-center my-5">
      <div class="col-4">
        <canvas id="myChart" width="150" height="100"></canvas>
      </div>
      <div class="col-4 card card-total">
            <h5 class="display-5 text-center">{{total}}</h5>
            {% if total > 1 %}
            <p class="display-10 text-center">ALUNOS</p>
            {% else %}
            <p class="display-10 text-center">ALUNO</p>
            {% endif %}
      </div>
      <div class="col-4">
        <canvas id="myChart2" width="150" height="100"></canvas>
      </div>

    
    
    </div>
  </div>


  {% include 'footer.html' %}


<script>
  const ctx = document.getElementById('myChart').getContext('2d');
  const myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
          datasets: [{
              label: '# of Votes',
              data: [12, 19, 3, 5, 2, 3],
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });
  </script>

<script>
  const ctx2 = document.getElementById('myChart2').getContext('2d');
  const myChart2 = new Chart(ctx2, {
      type: 'bar',
      data: {
          labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
          datasets: [{
              label: '# of Votes',
              data: [12, 19, 3, 5, 2, 3],
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });
  </script>
{% endblock %}